#section8 {
    background-color: #182527;
}

#section8 .card-icon span {
    font-size: 40px;
    font-weight: bold;
    font-family: fantasy;
}

.plans-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.295);
    padding: 40px;
    margin: 20px;
    width: 100%;
    height: 100%;
    flex: 1;
}

.plans-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-title-x {
    color: #20CD8D;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold;
    border-left: 5px solid #20CD8D;
    margin-left: -15px;
    padding-left: 10px;
    margin-top: 20px;
}

@media (max-width: 450px) {
    #section8 .card-icon span {
        font-size: 25px;
    }
}