.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.295);
    padding: 40px;
    margin: 20px;
    max-width: 600px;
    flex: 1;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-icon img {
    width: 50px;
    height: auto;
}

.card-image img {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: auto;
    margin: 50px;
}

.card-title,
.title-card {
    color: #20CD8D;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold;
    padding-left: 10px;
}

.card-title-x {
    color: #20CD8D;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold;
    border-left: 5px solid #20CD8D;
    margin-left: -15px;
    padding-left: 10px;
}

.card-text {
    margin-top: 0px;
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    max-width: 300px;
}

@media (max-width: 768px) {
    .card {
      margin-bottom: 10px;
    }
  
    .card-title {
      font-size: 16px;
      margin-bottom: 0px;
      padding-left: 5px;
    }
  
    .card-image {
      margin: 0px;
    }
  
    .card-image img {
      margin-top: 50px;
      margin-bottom: 5px;
    }
  
    .card-text {
      font-size: 15px;
      line-height: 1.3;
      font-family: 'Nunito', sans-serif;
      margin: 0px;
    }
  
    .title-page-green {
      font-size: 23px;
      margin-bottom: 30px;
    }
  
    .title-page-withe {
      font-size: 25px;
      margin-bottom: 30px;
    }
  
    .card3 {
      flex-direction: column;
    }
  
  }