#section6 {
    background-color: #182527;
}

#section6 .title-card {
    font-size: 50px;
}

#section6 p {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

#section6 img {
    width: 256px;
    max-width: none;
}