header {
    background-color: #fff;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: right;
    gap: 10px;
    text-align: right;
}

nav a {
    color: #252728;
    text-decoration: none;
    position: relative;
}

nav a:active {
    font-weight: bold;
}

.nav-tela-grande a:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    background-color: #252728;
    display: none;
    animation: navegacao .3s ease-in-out;
    width: 0%;
}

.nav-tela-grande a:hover:after {
    width: 100%;
    display: block;
}

@keyframes navegacao {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes scale-up-center {
    from {
        scale: 0.5;
    }

    to {
        scale: 1;
    }
}

.nav-tela-pequena {
    display: none;
}

@media (max-width: 768px) {
    .nav-tela-pequena {
        display: block;
        background-color: #fff;
        /* Exibe o nav para telas pequenas */
    }

    .nav-tela-grande {
        display: none;
        /* Oculta o nav para telas pequenas */
    }

    .dropbtn {
        border: none;
        background: none;
        color: black;
        font-size: 22px;
        margin-right: 20px;
    }

    .mobile-menu {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50px;
        right: 15px;
        z-index: 10;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .mobile-menu a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .mobile-menu a:hover {
        background-color: #ddd;
    }
}